<div class="row">
 <div class="col-md-12">
 <h2>{{department.departmentName}} - Department: {{department.departmentId}}</h2>
 <hr />
 <form method="post" action="/departments/update">
   <input class="form-control" id="employeeNum" name="departmentId" type="hidden" value="{{department.departmentId}}" />
 <fieldset>
 <div class="row">
 <div class="col-md-12">
 <div class="form-group">
 <label for="departmentName">Department Name:</label>
 <input class="form-control" id="departmentName" name="departmentName" type="text" value="{{department.departmentName}}" />
 </div>
 </div>
 <hr />
 <input type="submit" class="btn btn-primary pull-right" value="Update Department" /><br /><br /><br />
 </form>
 </div>
</div>